/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.askell-registration-frontend-block-container {

	* {
		transition-duration: 0ms !important;
	}

	.askell-step {
		display: none;
	}

	form {
		min-height: 20rem;
	}

	form[data-current-step="plans"] {

		.askell-plan-picker-form {
			display: block;
		}
	}

	form[data-current-step="user-info"] {

		.askell-user-info-form {
			display: block;
		}
	}

	form[data-current-step="cc-info"] {

		.askell-cc-info-form {
			display: block;
		}
	}

	.section-heading {
		display: block;
		font-weight: 700;
		font-size: var(--wp--preset--font-size--large);
		margin: 0 0 0.5rem 0;
	}

	.field-container {
		display: flex;
		align-content: stretch;
		justify-content: flex-start;
		width: 100%;
	}

	.askell-form-field {
		margin-right: 0.5em;
		margin-bottom: 0.5rem;
		position: relative;
		max-width: 100%;
	}

	.askell-form-plans {
		margin-top: 1.5rem;
	}

	.askell-form-kennitala {
		width: 15em;
		margin-bottom: 1.5rem;
	}

	.askell-form-first-name {
		width: 15em;
	}

	.askell-form-last-name {
		width: 15em;
	}

	.askell-form-email {
		width: 15em;
	}

	.askell-form-username {
		width: 15em;
	}

	.askell-form-password {
		width: 15em;
	}

	.askell-form-card-holder-name {
		width: 23em;
	}

	.askell-form-card-number {
		width: 17.5em;
	}

	.askell-form-card-security-code {
		width: 5.5em;
	}

	label,
	.label {
		display: block;
		margin-bottom: 0.2em;
		font-size: var(--wp--preset--font-size--normal);
	}

	label.inline {
		display: inline-block;
		margin-bottom: auto;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		width: calc(100% - 2em - 2px);
		padding: 0.7em 1em;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fff;
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin-right: 0.5em;
	}

	input[name="plan"] {
		margin-right: 1.5em;
	}

	select {
		padding: 0.7em 1em;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fff;
	}

	.askell-form-card-expiry {

		select {
			width: auto;
		}
	}

	select[name="cardExpiryMonth"] {
		margin-right: 0.5em;
	}

	.buttons {
		margin: 1.5rem 0 1rem 0;

		button {
			padding: 0.7em 1em;
			background-color: #f0f0f0;
			border: 1px solid #333;
			border-radius: 3px;
			color: #222;
		}

		button:hover {
			background-color: #e0e0e0;
		}

		button:disabled {
			background-color: #ccc;
			border: 1px solid #999;
			color: #666;
		}

		button:disabled:hover {
			background-color: #ccc;
		}
	}

	.hint {
		font-size: var(--wp--preset--font-size--small);
	}

	.askell-card-number-form-field {
		display: flex;
		align-items: center;

		.issuer {
			content: url(../images/generic.svg);
			width: 40px;
			height: 30px;
			margin-left: 1em;
		}

		.issuer.amex {
			content: url(../images/amex.svg);
		}

		.issuer.diners {
			content: url(../images/diners.svg);
		}

		.issuer.discover {
			content: url(../images/discover.svg);
		}

		.issuer.maestro {
			content: url(../images/maestro.svg);
		}

		.issuer.mastercard {
			content: url(../images/mastercard.svg);
		}

		.issuer.visa {
			content: url(../images/visa.svg);
		}
	}

	.user-info {
		margin: 0 !important;
		padding-bottom: 1rem !important;
	}

	.payment-info {
		font-size: var(--wp--preset--font-size--small);
		margin: 0 0 1rem 0;
	}

	.error p {
		color: #600;
		font-weight: 700;
		font-size: var(--wp--preset--font-size--small);
		margin: 1rem 0;
	}

	.askell-form-plan-container {
		display: flex;
		margin-bottom: 1em;
		align-items: center;

		input {
			width: 25px;
			height: 25px;
			flex-shrink: 0;
		}

		.plan-name {
			display: block;
			font-weight: 600;
			font-size: var(--wp--preset--font-size--normal);
			line-height: var(--global--line-height-heading);
			margin: 0;
		}

		.description {
			display: block;
			margin: 0;
			font-size: var(--wp--preset--font-size--normal);
			line-height: var(--global--line-height-heading);
		}

		.price {
			display: block;
			line-height: var(--global--line-height-heading);
			margin-top: 0.2em;
		}
	}

	.askell-user-info-form[data-checked="true"] {

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid {
			border: 1px solid #f66;
			background-color: #fdd;
			background-image: url(../images/not_allowed.svg);
			background-repeat: no-repeat;
			background-position: center right 0.75em;
			background-size: 1em auto;
		}
	}
}
